body {
  background-color: #141414;
  margin: 0;
}

/* Header */

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  height: 70px;

}

.logo {
  flex-grow: 1;
  animation: logo 3s;
}

.logo img {
  width: 100px;
  margin-left: 20px;
}

/* Navigation */

/* nav {
  margin-right: 30px;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px ;
}

nav li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

nav li a:hover {
  border-bottom: solid 2px white;
}

.menu-icon {
  display: none;
  color: white;
  margin-right: 35px;
}

@keyframes logo {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
} */

/* Slider */

.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
