* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: black;
  margin: 0;
}

/* Navigation */

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #023535;
  height: 70px;

}

.logo {
  flex-grow: 1;
  animation: logo 3s;
}

.logo img {
  width: 100px;
  margin-left: 20px;
}

/* Navigation */



/* Slider */

.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Form */

.calculator_wrap{
  display: flex;
  flex-direction: row;
}

.form-wrap {
  background-color: #008F8C;
  width: 50vw;
  height: 410px;
  margin: 0 auto;
  text-align: center;
  
}

.form-wrap h2 {
  color: #24e8ca;
  margin: 15px 0;
}

.input-wrap {
  align-items: center;
  margin-bottom: 15px;
  display: flex;
}

.input-wrap label{
  min-width: 200px;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 20px;
  color: #24e8ca;
  text-align: left;
  display: flex;
  
}

.input-wrap input,
.input-wrap select {
  border: 2px solid #24e8ca;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  padding: 15px 25px;
  width: 300px;
  color: #24e8ca;
  border-radius: 24px;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.input-wrap input:focus,
.input-wrap select:focus {
  width: 400px;
  border-color: #24e8ca;
  transition: 0.5s;
}

input[type="submit"] {
  border-radius: 24px;
  padding: 10px 40px;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  color: #24e8ca;
  border: 2px solid #24e8ca;
  width: 350px;
  outline: none;
  cursor: pointer;
  font-size: 20px;

}

input[type="submit"]:hover {
  background-color: #214252;
}

#helmet {
  background: linear-gradient(black, rgba(0, 0, 0, 0.232)),
  url("../public/img/soldier_dark2.jpg");

  width: 50vw;
  height: 410px;
  color: white;
  background-size: cover;
}

#helmet h2 {
  text-align: center;
}

#helmet p {
  padding-top: 30px;
  padding-left: 20px;
}

